<link rel="stylesheet" href="/stylesheets/personaccount-style.css">
<div class="container borders">
    <div class="row">
    <h4 class="head_name">Личный кабинет</h4>
    </div>
    <div class="row account">
        <div class="info col s4">
            <img src="https://cdn.icon-icons.com/icons2/2617/PNG/96/pumpkin_halloween_vegetable_icon_156897.png"
                 alt="avatar"
                 class="info__avatar"
            >
        </div>
        <div class="info__fields col s8 ">
            <div class="wrapper">
                <h6>{{userSurname}}</h6>
                <h6>{{userName}}</h6>
                <h6>{{patronymic}}</h6>
                <h6>{{department}}</h6>
                <h6>{{position}}</h6>
                <h6>{{role}}</h6>
                <date-input date="{{dateStartWork}}"></date-input>
                <h6><b>Дата приема на работу: </b>{{dateStartWork}}</h6>
                </div>
        </div>
    </div>
    </div>



